		* {
            padding: 0px;
            margin: 0px;
        }
		.container3 {
            width: auto;
            margin: 30px;
        }
		.container {
			background-color: white;
			position:relative;
            width: auto;
            margin: 30px;
        }
		.contof {
			background-color: gray;
            width: auto;
            margin: 30px;
        }
		.textban{
			color: blue;
			text-align:justify;
			font-family:verdana;
			font-size:12pt;
		}
		.texttitulo{
			color: #0101DF;
			text-align:center;
			font-family:arial;
			font-size:250%;
		}
        .container2 {
            width: 900px;
            margin: auto;
        }
		.container-fluid {
		max-width: 1600px;
}

table {
	border: 0px solid white;
    font-family: arial, sans-serif;
	border-collapse: separate;
	border-spacing: 36px 0px;
    width: 100%;
	text-align:center;
	
}



.container_wapper {
    width: 100%;
}
		
        header#head {            
            padding: 60px 60px;
            background-color: white;
        }
        nav#topnav {
            padding: auto 10px;
            background-color: white;
        }
            nav#topnav ul {
                list-style: none;
            }
            nav#topnav ul li{
                display: inline-block;
            }
            nav#topnav ul li a{
				text-align:center;
                color:black;
                padding: 5px 7px;
                display: block;
                text-decoration: none;
            }            
        .isStuck {
            width: 100%;
            position: fixed;
            top:0px;
        }
        a.current {
            background-color: #0101DF; 				
        }
	